table#commits
	thead
		tr
			th
				span.badge
				span.badge
			th Author
			th Commit
			th Message
			th Date
	if commits.hasData
		tbody
			each commit in commits.data
				tr(class=commit.hash === uid.hash ? 'selected-row' : '')
					td
						span.badge
							if commit.hash === uid.hash
								| &rarr;
						span.badge
							if commit.isMerged
								| M
					td= commit.author
					td
						a(href=`/${commit.hash}`)
							= commit.hash
					td(title=commit.subject)
						= commit.subject
					td= commit.date