extends layout

block content
	h1= title
	table
		thead
			tr
				th
				th Author
				th Commit
				th Message
				th Date
		if (data && data.length > 0)
			tbody
				each item in data
					tr
						td
							if (item.isMerged)
								| M
						td= item.author
						td= item.hash
						td= item.message
						td= item.date
