div#directory
	if directory.hasData
		p.directory-path Current path: 
			span= uid.path
		if uid.prevPath
			a.directory-back(href=`/${uid.hash}/${uid.prevPath}`)
				| &larr; Назад
		ul.directory
			each item in directory.data
				li
					if item.isDirectory
						span.badge D
						a(href=`/${uid.hash}/${uid.path || '.'}/${item.name}`)
							= item.name
					else
						a(href=`/blob/${uid.hash}/${uid.path || '.'}/${item.name}`)
							= item.name
	else
		| Empty directory