div#directory
	if directory.hasData
		p.directory-path Current path: 
			span= path
		if prevPath
			a.directory-back(href=`/${hash}/${prevPath}`)
				| &larr; Назад
		ul.directory
			each item in directory.data
				li
					if item.isDirectory
						span.badge D
						a(href=`/${hash}/${path || '.'}/${item.name}`)
							= item.name
					else
						a(href=`/blob/${hash}/${path || '.'}/${item.name}`)
							= item.name
	else
		| Empty directory